<div class="content-container">
	<div class="jumbotron">
		<h1>
			Keynote Speakers<br />
			<small>North East Database Day 2026 </small><br />
			<small>Thursday January 16th, 2026</small><br />
			<small><a href="https://www.umb.edu/campus-center/" target="_blank">Department of Computer
					Science</a> @ UMass Boston</small>
		</h1>
		<p>
	</div>

	
	<div class="page-content">
		<h2>1) Talk Title<br>
			<p><a href="https://www.linkedin.com/in/ippokratis-pandis-03b1402/" target="_blank">Ippokratis Pandis</a>
				&nbsp; <small>Databricks</small></p>
		</h2>
		<h3>Abstract</h3>
		<p>
			Coming Soon...
		</p>
		<!-- <h3>Bio</h3>
		<p style="float: left;"> <img src="./images/stonebraker.jpg" height="auto" width="120px" border="1px"> </p>
		<p>
			Dr. Stonebraker has been a pioneer of data base research and technology for more than forty years. He was
			the main architect of the INGRES relational DBMS, and the object-relational DBMS, POSTGRES. These prototypes
			were developed at the University of California at Berkeley where Stonebraker was a Professor of Computer
			Science for twenty-five years. More recently at M.I.T. he was the co-architect of the C-Store column-
			oriented DBMS, the H-Store transaction processing engine, the Data Tamer data integration system, the SciDB
			array processing engine, the Kyrix visualization system and the operating system DBOS. He is the founder of
			ten venture-capital backed startups which have commercialized his prototypes.
			Professor Stonebraker is the author of scores of research papers on data base technology, operating systems
			and the architecture of system software services. He was awarded the ACM System Software Award in 1992, for
			his work on INGRES. Additionally, he was awarded the first annual Innovation award by the ACM SIGMOD special
			interest group in 1994 and was elected to the National Academy of Engineering in 1997. He was awarded the
			IEEE John Von Neumann award in 2005, and the ACM Turing Award in 2014. Presently he is an Adjunct Professor
			of Computer Science at M.I.T., where he is working on a variety of future-generation data-oriented projects.
		</p>
		<h3>Projects</h3>
		<ol>
			<li><a href="https://www.csail.mit.edu/research/data-discovery" target="_blank">Data Discovery</a></li>
			<li><a href="https://www.csail.mit.edu/research/building-scalable-database-autonomous-vehicles"
					target="_blank">Building a Scalable Database for Autonomous Vehicles</a></li>
			<li><a href="https://www.csail.mit.edu/research/predictive-elastic-database-systems"
					target="_blank">Predictive Elastic Database Systems</a></li>
		</ol>
		<h3>Links</h3>
		<ol>
			<li><a href="https://www.csail.mit.edu/person/michael-stonebraker" target="_blank">Website</a></li>
			<li>Twitter: <a href="https://twitter.com/ImmanuelTrummer" target="_blank">@ImmanuelTrummer</a></li>
		</ol> -->
	</div>
	<br />

	<div class="page-content">
		<h2>2) Talk Title
			<p><a href="https://people.csail.mit.edu/tatbul/" target="_blank">Nesime Tatbul</a> &nbsp;
				<small>Intel, MIT</small>
			</p>
		</h2>
		<h3>Abstract</h3>
		<p>
			Coming Soon...
		</p>
		<!-- <h3>Bio</h3>
		<p style="float: left;"> <img src="./images/dhruba.jpg" height="auto" width="120px" border="1px"> </p>
		<p>
			Dhruba Borthakur is the Technical Lead of the data infrastructure team at OpenAI. He co-founded Rockset, a
			search database that powers AI applications at OpenAI. Dhruba was the founding engineer of the RocksDB
			database at Facebook and one of the founding engineers of the Hadoop File System at Yahoo. Dhruba was also
			an early contributor to the open source Apache HBase project. Previously, he was a senior engineer at
			Veritas Software, where he was part of a team responsible for the development of VxFS and Veritas
			SanPointDirect storage system; was the cofounder of Oreceipt.com, an ecommerce startup based in Sunnyvale;
			and was a senior engineer at IBM-Transarc Labs, where he contributed to the development of Andrew File
			System (AFS). Dhruba holds an MS in computer science from the University of Wisconsin-Madison and a BS in
			computer science BITS, Pilani, India. He has 69 issued patents.
		</p>
		<h3>Links</h3>
		<ol>
			<li><a href="https://www.linkedin.com/in/dhruba/" target="_blank">LinkedIn</a></li>
			<li>Twitter: <a href="https://twitter.com/dhruba_rocks" target="_blank">@dhruba_rocks</a></li>
		</ol> -->
	</div>
	<br />

	<div class="page-content">
		<h2>3) Talk Title
			<p><a href="https://www.datastax.com/our-people/jake-luciani" target="_blank">Ryan Marcus</a> &nbsp;
				<small>University of Pennsylvania</small>
			</p>
		</h2>
		<h3>Abstract</h3>
		<p>
			Coming Soon...
		</p>
		<!-- <h3>Bio</h3>
		<p style="float: left;"> <img src="./images/jake.jpg" height="auto" width="120px" border="1px">
		</p>
		<p>
			Jake serves as Chief Architect at DataStax where he led the creation of Astra Serverless DB and DataStax
			Enterprise. He has over 20 years of experience in the areas of distributed systems, finance, and
			manufacturing. He is a member of the Apache Foundation and is on the project committee of the Apache
			Cassandra, Apache Arrow, and Apache Thrift projects. Jake received his B.S. in Computer Science from Lehigh
			University along with a minor in Cognitive Science.
		</p>
		<h3>Links</h3>
		<ol>
			<li><a href="https://www.linkedin.com/in/tjake/" target="_blank">LinkedIn</a></li>
			<li>Twitter: <a href="https://twitter.com/tjake" target="_blank">@tjake</a></li>
		</ol> -->
	</div>
</div>