<div id="program" class="content-container">
  <div class="jumbotron">
    <h1>
      Program<br />
      <small>North East Database Day 2026 </small><br />
      <small>Friday January 16th, 2026</small><br />
      <small><a href="https://www.cs.umb.edu/" target="_blank">Department of Computer Science</a>
        @ UMass Boston</small>
    </h1>
  </div>
  <h2>Special thanks to this year’s sponsors:</h2>
      <p style="text-align: center;">
         <a href="https://www.cs.umb.edu/" target="_blank"><img
               src="images/logos/umb_logo.jpg"
               style="height: 100%; max-height: 95px; width: auto;" /></a> &nbsp; &nbsp; 
         <a href="https://research.google.com/" target="_blank"><img src="images/logos/google_new.png"
               style="height: 100%; max-height: 95px; width: auto;" /></a> &nbsp; &nbsp;
        <a href="https://www.microsoft.com/en-us/research/" target="_blank"><img src="images/logos/MSFT.png"
               style="height: 100%; max-height: 95px; width: auto;" /></a> &nbsp; &nbsp;
         <a href="https://www.intel.com/" target="_blank"><img src="images/logos/intel.png"
               style="height: 100%; max-height: 95px; width: auto;" /></a> &nbsp; &nbsp;
         <a href="https://www.oracle.com/" target="_blank"><img src="images/logos/Oracle.png"
               style="height: 100%; max-height: 95px; width: auto;" /></a> &nbsp; &nbsp;
      </p>


  <p style="text-align: center;">
    <a href="javascript: toggleVisibility ('showall')">Show</a>/<a href="javascript: toggleVisibility ('hideall')">Hide
      all abstracts</a>
  </p>


  <table class="table table-bordered table-hover table-condensed programTable">
    <tbody>
      <tr>
        <th width="17%">Time</th>
        <th width="83%">Event</th>
      </tr>
      <tr>
        <td>8:00 - 8:45</td>
        <td></td>
      </tr>
      <tr>
        <td>8:45 - 9:00</td>
        <td></td>
      </tr>

      <tr class="success">
        <td colspan="2" align="center"></td>
      </tr>

      <tr>
        <td>9:00 - 9:30</td>
        <td>
          </td>
      </tr>

      <tr>
        <td>9:30 - 9:45</td>

        <td>
          </td>
      </tr>
      <tr>
        <td>9:45 - 10:00</td>
        <td>
          </td>
      </tr>
      <tr>
        <td>10:00 - 10:15</td>
        <td>
          </td>
      </tr>

      <tr>
        <td colspan="2"></td>
      </tr>

      <tr>
        <td>10:15 - 10:45</td>
        <td></td>
      </tr>

      <tr>
        <td colspan="2"></td>
      </tr>


      <tr class="success">
        <td colspan="2" align="center"></td>
      </tr>

      <tr>
        <td>10:45 - 11:15</td>
        <td>
          </td>
      </tr>

      <tr>
        <td>11:15 - 11:30</td>
        <td>
          </td>
      </tr>

      <tr>
        <td>11:30 - 11:45</td>
        <td>
          </td>
      </tr>


      <tr>
        <td>11:45 - 12:00</td>
        <td>
          </td>
      </tr>

      <tr>
        <td>12:00 - 12:15</td>
        <td>
          </td>
      </tr>

      <tr>
        <td colspan="2"></td>
      </tr>

      <tr>
        <td>12:15 - 1:15</td>
        <td></td>
      </tr>

      <tr>
        <td colspan="2"></td>
      </tr>

      <tr class="success">
        <td colspan="2" align="center"></td>
      </tr>

      <tr>
        <td>1:15 - 1:30</td>
        <td>
          </td>
      </tr>
      <tr>
        <td>1:30 - 1:45</td>
        <td>
          </td>
      </tr>

      <tr>
        <td>1:45 - 2:00</td>
        <td>
          </td>
      </tr>

      <tr>
        <td>2:00 - 2:15</td>
        <td>
          </td>
      </tr>

      <tr>
        <td colspan="2"></td>
      </tr>

      <tr>
        <td>2:15 - 2:45</td>
        <td></td>
      </tr>

      <tr>
        <td colspan="2"></td>
      </tr>



      <tr class="success">
        <td colspan="2" align="center"></td>
      </tr>

      <tr>
        <td>2:45 - 3:15</td>
        <td>
          </td>
      </tr>


      <tr>
        <td>3:15 - 3:30</td>
        <td>
          </td>
      </tr>




      <tr>
        <td>3:30 - 3:45</td>
        <td>
          </td>
      </tr>




      <tr>
        <td>3:45 - 4:00</td>
        <td>
          </td>

      </tr>

      <tr>
        <td>4:00 - 4:15</td>
        <td>
          </td>
      </tr>

      <tr>
        <td colspan="2"></td>
      </tr>

      <tr>
        <td>4:15 - 4:45</td>
        <td></td>
      </tr>

      <tr>
        <td colspan="2"></td>
      </tr>

      <tr class="success">
        <td>4:45 - 6:15</td>
        <td>
          </td>
      </tr>

      <tr>
        <td colspan="2"></td>
      </tr>

      <tr class="success">
        <td>6:15 - 8:00</td>
        <td>
          </tr

      <tr>
        <td colspan="2"></td>
      </tr>
      <tr class="success">
        <td colspan="2" align="center"></td>
      </tr>


    </tbody>
  </table>

</div>