<div class="content-container">
	<div class="jumbotron">
		<h1>
			Keynote Speakers<br />
			<small>North East Database Day 2026 </small><br />
			<small>Friday January 16th, 2026</small><br />
			<small><a href="https://www.umb.edu/campus-center/" target="_blank">Campus Center Ballroom</a> @ UMass Boston</small>
		</h1>
		<p>
	</div>

		<div class="page-content">
		<h2>1) Evolving Databases for the Cloud and AI era<br>
			<p><a href="https://www.linkedin.com/in/ippokratis-pandis-03b1402/" target="_blank">Ippokratis Pandis</a>
				&nbsp; <small>Databricks</small></p>
		</h2>
		<h2>Abstract</h2>
		<p>
			In this presentation, we are going to talk about Lakebase, a vision for the next generation of cloud-based agent-enabled OLTP systems. After the dramatic transformation of analytics (OLAP) platforms over the past one to two decades—with innovations such as columnar storage, vectorized execution, streaming, and the Lakehouse architecture—we argue that databases (OLTP) are now at an inflection point. We will explore how cloud-native infrastructure, new workload requirements, and the rise of AI are reshaping what transactional systems must deliver. Lakebase extends the key principles that made the Lakehouse successful—decoupled compute and storage, open formats, and cross-engine interoperability—to OLTP workloads, enabling a modern, scalable, and open architecture designed for the cloud and AI era.
		</p>
		<h2>Bio</h2>
		<p style="float: left;"> <img src="./images/ippo-aws-photo.jpeg" height="auto" width="120px" border="1px"> </p>
		<p>
				Ippokratis Pandis is a Distinguished Engineer at Databricks with a background in database systems. Ippokratis spent over a decade helping shape AWS Analytics and Amazon Redshift in particular as VP/Distinguished Engineer, and before that he worked on Cloudera Impala and IBM DB2 BLU. He holds a Ph.D. from Carnegie Mellon University on multicore transaction processing and has contributed to both industry and academic communities around large-scale data management. He is currently the President of HPTS and served as General Chair of SIGMOD 2023.
		</p>
	
		<h2>Links</h2>
		<ol>
			<li><a href="https://www.linkedin.com/in/ippokratis-pandis-03b1402/" target="_blank">Linkedin</a></li>
			<li>Twitter: <a href="https://x.com/Hippotas" target="_blank">@Hippotas</a></li>
		</ol>
	</div>
	<br />


	<div class="page-content">
		<h2>2) Scalable Data Management and Analytics for Observability Applications
			<p><a href="https://people.csail.mit.edu/tatbul/" target="_blank">Nesime Tatbul</a> &nbsp;
				<small>Intel, MIT</small>
			</p>
		</h2>
		<h3>Abstract</h3>
		<p>
			Observability is the ability to understand and control the behavior of large-scale software systems using run-time telemetry. Managing observability data involves handling massive volumes of heterogeneous time series while operating under tight resource constraints. Troubleshooting the observed system requires efficient exploration of this data through interactive queries with time-oriented operations. Advances in AI have enabled more sophisticated data analysis techniques such as anomaly detection and explanation. This talk presents examples from our recent research in data management for modern observability in response to these challenges and opportunities.
		</p>
		<h3>Bio</h3>
		<p style="float: left;"> <img src="./images/Nesime_Tatbul.png" height="auto" width="120px" border="1px"> </p>
		<p>
			Nesime Tatbul is a Senior Staff Research Scientist at Intel. For the last 10+ years, she has been based at MIT, overseeing Intel's university research programs on data systems and artificial intelligence. Previously, she received a Ph.D. from Brown University and held a faculty position at ETH Zurich. Her research contributions in data stream systems, time series analytics, and learned data management have been widely cited and recognized by awards. Nesime is an ACM Distinguished Member, an IEEE Senior Member, and a Trustee Emeritus of the VLDB Endowment.
		</p>
		<h3>Links</h3>
		<ol>
			<li><a href="https://people.csail.mit.edu/tatbul/" target="_blank">Website</a></li>

		</ol>
	</div>
			<br />

	


	<div class="page-content">
		<h2>3) Next Steps for Learned Query Optimization
			<p><a href="https://rmarcus.info/blog/" target="_blank">Ryan Marcus</a>
				&nbsp; <small>University of Pennsylvania</small></p>
		</h2>
		<h2>Abstract</h2>
		<p>
			Since 2018, the database community has found a myriad of ways to use reinforcement learning (RL) for query planning. While scientifically interesting and an important step forward, these techniques (including my own) failed to see much adoption in industry due to their sample inefficiency, unpredictable behavior, and added critical path complexity. Our lab's recent work has circumvented this problem in two ways. First, we show that one can pull RL "up," using RL to optimize an entire query workload offline, and then using only verified query plans at runtime. Second, we show that one can push RL "down" into the execution engine itself, where each morsel becomes a sample and incorrect decisions are "learned away" during the execution of a single query. We believe both of these directions are promising, and show some preliminary evidence from industry for the first proposal. 
</p>

		<h2>Bio</h2>
		<p style="float: left;"> <img src="./images/ryan_marcus.avif" height="auto" width="120px" border="1px"> </p>
		<p>
			Ryan Marcus is an assistant professor at the University of Pennsylvania, where he focuses on using machine learning to build the next generation of data management tools that automatically adapt to new hardware and user workloads, invent novel processing strategies, and understand user intention. Prior to Penn, Ryan was a postdoc at MIT (supervised by Tim Kraska), and received his PhD from Brandeis University (advised by Olga Papaemmanouil). Ryan has also held research positions at Amazon, Intel Labs, and the Los Alamos National Laboratory. 
		</p>
	
		<h2>Links</h2>
		<ol>
			<li><a href="https://rmarcus.info/blog/" target="_blank">Website</a></li>
		</ol>
	</div>
	<br />


