<div class="content-container">


  <div class="jumbotron">
    <h1> Transportation and Hotel Information<br />
      <small>North East Database Day 2026 </small><br />
      <small>Friday January 16th, 2026</small><br />
      <small><a href="https://www.cs.umb.edu/" target="_blank">Department of Computer Science</a>
        @ UMass Boston</small>
    </h1>
  </div>


  <h2>Transportation and Parking</h2>

  <p style="background-color: #f0f0f0; padding: 5px; border-radius: 3px; text-align: center;">
    <strong><a href="https://www.google.com/maps/place/Campus+Center,+UMass+Boston/@42.3125512,-71.0366971,17.08z/data=!3m1!5s0x89e37af9b5d0de47:0xaff0b09cb4d3080e!4m6!3m5!1s0x89e37ae2decb714d:0x9d8d8b36d503f000!8m2!3d42.3126653!4d-71.0366086!16s%2Fg%2F11ckr58bcl?entry=ttu&g_ep=EgoyMDI1MTEwOS4wIKXMDSoASAFQAw%3D%3D" target="_blank">Campus Center @ UMass Boston </a><br/> The Ballroom is located on the third floor.</strong>
  </p>

  <p>Parking Instructions Coming Soon!</p>


  <h2>Hotels</h2>

  If you are looking for a place to stay, you can consider the following option:

  <h3>1) <a href="https://www.hilton.com/en/hotels/boschdt-doubletree-boston-bayside/?SEO_id=GMB-AMER-DT-BOSCHDT&y_source=1_MTM3MjcwMi03MTUtbG9jYXRpb24ud2Vic2l0ZQ%3D%3D" target="_blank">DoubleTree by Hilton Boston Bayside</a></h3>


  <p class=BodyCopy><b><span style='color:black;mso-themecolor:text1'>Address:</span></b><span
      style='color:black;mso-themecolor:text1'> 240 Mt Vernon St, Boston, MA 02125<o:p></o:p></span></p>


  <p class=BodyCopy><b><span style='color:black;mso-themecolor:text1'><a
          href="https://www.google.com/maps/dir/Crescent+Suites+Hotel+LLC,+Crescent+Street,+Waltham,+MA/Hassenfeld+Conference+Center,+415+South+St,+Waltham,+MA+02453/@42.3674693,-71.2619727,15z/am=t/data=!4m14!4m13!1m5!1m1!1s0x89e3831f6f96b8cb:0xd63f6ad11aeadd6c!2m2!1d-71.244027!2d42.3644192!1m5!1m1!1s0x89e38315a00fd793:0xf0a24b84a4753002!2m2!1d-71.2606688!2d42.3664885!3e2?entry=ttu&g_ep=EgoyMDI0MTIxMS4wIKXMDSoASAFQAw%3D%3D">Walking
          Directions to Campus:</a></span></b><span style='color:black;mso-themecolor:text1'>
      Located less than 1 miles from campus, DoubleTree is easily within
      walking distance of campus. Click <a
        href="https://www.google.com/maps/dir/Campus+Center,+UMass+Boston,+William+T+Morrissey+Boulevard,+Boston,+MA/DoubleTree+by+Hilton+Boston+Bayside,+240+Mt+Vernon+St,+Boston,+MA+02125/@42.3165685,-71.0472152,16z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x89e37ae2decb714d:0x9d8d8b36d503f000!2m2!1d-71.0366086!2d42.3126653!1m5!1m1!1s0x89e37af842e6062f:0xdcb5bc746a7232bd!2m2!1d-71.047892!2d42.3202777!3e2?entry=ttu&g_ep=EgoyMDI1MTExNy4wIKXMDSoASAFQAw%3D%3D">here</a>
      for direction.<o:p></o:p></span></p>

  <!-- <h3>8) <a href="https://www.sonder.com/destinations/brookline/the-arcadian/c35887?sleeps=1" target="_blank"> Arcadian
      Hotel Brookline</a></h3>

  <p class=BodyCopy><b><span style='color:black;mso-themecolor:text1'>Address:</span></b><span
      style='color:black;mso-themecolor:text1'> 1200 Beacon St, Brookline, MA 02446<o:p></o:p></span></p>

  <p class=BodyCopy><b><span style='color:black;mso-themecolor:text1'><a
          href="https://maps.app.goo.gl/cKjpfhBbrhFAHczbA" target="_blank"> Walking
          Directions to Campus</a>:</span></b><span style='color:black;mso-themecolor:text1'>
      The Arcadian Hotel Brookline is a mile away from campus. For a 23-minute walk to CCDS, go northeast on Beacon
      Street, turn north on St Mary's Street, right on Commonwealth Avenue, and you'll find CCDS on your left.<o:p>
      </o:p></span></p>


  <h3>9) <a href="https://beaconinn.com/" target="_blank"> Beacon Inn</a></h3>

  <p class=BodyCopy><b><span style='color:black;mso-themecolor:text1'>Address:</span></b><span
      style='color:black;mso-themecolor:text1'> 1087 Beacon St, Brookline, MA 02446<o:p></o:p></span></p>

  <p class=BodyCopy><b><span style='color:black;mso-themecolor:text1'><a
          href="https://maps.app.goo.gl/d5hdJTuXqP1x2BHU8" target="_blank"> Walking
          Directions to Campus</a>:</span></b><span style='color:black;mso-themecolor:text1'>
      The Beacon Inn is less than a mile away from campus. For a 16-minute walk to CCDS, go northeast on Beacon Street,
      turn north on St Mary's Street, right on Commonwealth Avenue, and you'll find CCDS on your left.<o:p></o:p></span>
  </p>


  <h3>10) <a href="https://www.charlesmarkhotel.com/" target="_blank"> The Charlesmark Boutique Hotel</a></h3>

  <p class=BodyCopy><b><span style='color:black;mso-themecolor:text1'>Address:</span></b><span
      style='color:black;mso-themecolor:text1'> 655 Boylston St, Boston, MA 02116<o:p></o:p></span></p>

  <p class=BodyCopy><b><span style='color:black;mso-themecolor:text1'><a
          href="https://maps.app.goo.gl/fWEjJeSsQJ6tpBnU9" target="_blank"> MBTA
          Directions to Campus</a>:</span></b><span style='color:black;mso-themecolor:text1'>
      Alternatively, residents can take the nearby </span><b><span style='color:#00B050;
mso-themecolor:accent2'>Green Line B</span></b><span style='color:#00B050;
mso-themecolor:accent2'> </span><span style='color:black;mso-themecolor:text1'>from
      the Copley station for four stops to BU East station and walk to CCDS.
      The train ride plus walk will take roughly 15 minutes.<o:p></o:p></span></p> -->

  <!--
<p class=BodyCopy><b><span style='color:black;mso-themecolor:text1'>Uber/
Driving Directions:</span></b><span style='color:black;mso-themecolor:text1'>
The drive from The Colonnade to ISEC takes around 5 minutes depending on
traffic.
</div>
-->




</div>