<!-- sidebar -->
<ul class="sidebar">
   <a href="#" id="logocontainer">
    <div id="logo" >
      <span > NEDB Day<br/>2026</span>
    </div>
    </a>
   <li class="active home"><a href="#">Home page</a></li>
   <li class="submission"><a href="https://cmt3.research.microsoft.com/NEDBDay2026/Submission/Index" target="_blank">Submission Site</a></li>

   <li class="program"><a href="#program">Program</a></li>
   <li class="keynote"><a href="#keynote">Keynotes</a></li>
   <!-- <li class="papers"><a href="#papers">Accepted Talks</a></li> -->
   <li class="posters"><a href="#posters">Poster Session</a></li>
   <li class="transport"><a href="#transport">Transportation and Hotels</a></li>

   <li class="registration"><a href="https://commerce.cashnet.com/COMPSCIpay" target="_blank">Registration</a></li>
   <li class="map"><a href="https://www.google.com/maps/place/Campus+Center,+UMass+Boston/@42.3125512,-71.0366971,17.08z/data=!3m1!5s0x89e37af9b5d0de47:0xaff0b09cb4d3080e!4m6!3m5!1s0x89e37ae2decb714d:0x9d8d8b36d503f000!8m2!3d42.3126653!4d-71.0366086!16s%2Fg%2F11ckr58bcl?entry=ttu&g_ep=EgoyMDI1MTEwOS4wIKXMDSoASAFQAw%3D%3D" target="_blank">Map</a></li>

   <li class="photos"><a href="#photos">Event Photos</a></li>
   
   <li class="history"><a href="#history">Previous Events</a></li> 

</ul>
<style>
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
@import url(https://fonts.googleapis.com/css?family=Sahitya:400,700);
</style>
