<!-- sidebar -->
<ul class="sidebar">
   <a href="#" id="logocontainer">
    <div id="logo" >
      <span > NEDB Day<br/>2026</span>
    </div>
    </a>
   <li class="active home"><a href="#">Home page</a></li>
   <!-- <li class="submission"><a href="https://cmt3.research.microsoft.com/NEDBDay2026/" target="_blank">Submission Site</a></li> -->
   <li class="submission"><a href="#" target="_blank">Submission Site</a></li>

   <li class="program"><a href="#program">Program</a></li>
   <li class="keynote"><a href="#keynote">Keynotes</a></li>
   <li class="papers"><a href="#papers">Accepted Talks</a></li>
   <li class="posters"><a href="#posters">Poster Session</a></li>
   <li class="transport"><a href="#transport">Transportation and Hotels</a></li>

   <li class="registration"><a href="#" target="_blank">Registration</a></li>
   <li class="map"><a href="https://www.umb.edu/map/" target="_blank">Map</a></li>

   <li class="photos"><a href="#photos">Event Photos</a></li>
   
   <li class="history"><a href="#history">Previous Events</a></li> 

</ul>
<style>
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
@import url(https://fonts.googleapis.com/css?family=Sahitya:400,700);
</style>
